/*SHARE*/
.LevelPartGroup{
    margin-right: 2px;
}

/*HOME*/
.HomeScreen{
    /*background*/
    background-image: url("/Images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.HomeTitleSpacing{
    margin-top: 40px;
}
.TitleText{
    font-size: 50px; 
}
.TitleLineSpacing{
    height: 2px;
}

.HomeLevel .LevelPartGroup{
    font-size: 25px;
}

.PlayButton{
    width: 165px;
    height: 66px;
}

/*WORD*/
.HomeButton{    
    width: 45px;
    height: 45px;
    margin-top: 3px;
    margin-left: 2px;
}

.View{
    font-size: 20px;
}
.Mean{
    font-family: 'Roboto' !important;
    margin: 0px 8px 0 8px;
}

.ReadCompletePanel{
    padding: 10px;
    position: fixed;
    bottom: 60px;
    width: 100%;
    font-size: 23px;
}

.ReadCompletePanel .ProgressBarPercent{
    height: 20px;
    font-size: 15px;
}
.ReadCompletePanel .ProgressBarText{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
}

.NextWordPanel{
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 8px !important;
    font-size: 20px;
}
.NextWordPanel .NextWordText{
    font-size: 24px;
}

.LoadingWait{
    position: fixed;
    bottom: 4px;
    right: 8px;
    color: #fff !important;
    font-size: 30px;
}

/*LEVEL UP*/
.LevelUpContentByDevice{
    margin-top: 50px;
}

.LevelUpText{
    font-size: 40px;
    margin-right: 2px;
}
.LevelUpText2nd{
    font-size: 50px;
}

.LevelUpCloseButton{
    width: 165px;
    height: 66px;
}

.Tutorial{
    margin: 25px 15px 0 15px !important;
    padding: 10px;
}
.Tutorial .Text{
    font-size: 18px;
}
.Tutorial .Author{
    font-size: 15px;
}

.LevelUpCloseButton{
    margin-top: 27px;
}
