/* full screen */
html, body {
    height: 100%;
}
body {
    line-height: 1.25 !important;
    text-transform: uppercase;
}
.Upper {
    text-transform: uppercase;
}
.btn-word{
    padding: 3px 4px !important;
}
.btn-word-viewed{
    background-color: white !important;
    color: black !important;
}
.WordMark{
    padding: 0 0.2em;
}
.WordMeanMarkViewed{
    float:right;
}
.Screen{
    position: fixed;
    width: 100%;
    height: 100%;
}
.Loading{
    z-index: 1000; /* top over all */
}
.Loading .Spinner{
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1001;
}
.Loading .Text{
    position: relative;    
    z-index: 1002;
}

.Tag{
    padding: 1.5px 6px;
}

/*HOME*/
.HomeScreen{
    /*background*/
    background-image: url("/assets/images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*WORD*/
.HomeButton{
    margin: 2px 0 0 2px;
    padding: 4px 8px !important;
}