.ReadCompletePanel{
    padding: 10px;
    position: fixed;
    bottom: 68px;
    width: calc(100% - 16px);
}

.NextWordPanel{
    bottom: 8px;
    position: fixed;
    width: calc(100% - 16px);
    padding: 8px !important;
}

.LoadingWait{
    position: fixed;
    bottom: 11px;
    right: 16px;
    color: #fff !important;
    font-size: 30px;
}

.LevelUpContentByDevice{
    margin-top: 50px;
}