.ReadCompletePanel{
    padding: 10px;
    position: fixed;
    bottom: 60px;
    width: 100%;
}

.NextWordPanel{
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 8px !important;
}

.LoadingWait{
    position: fixed;
    bottom: 4px;
    right: 8px;
    color: #fff !important;
    font-size: 30px;
}

.LevelUpContentByDevice{
    margin-top: 50px;
}